*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:rgb(254, 255, 209);
    --primary-color:rgb(165, 111, 49);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;


    font-family: 'Poppins';
}
#main{
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow: hidden;
    height: 100vh;
    background-color: var(--bg-color);
}
#main.active{
    overflow-y: auto;

}
#outer {
    display: flex;
    justify-content: center;

    position: relative;
    height: 100vh;
    background-color: var(--bg-color);
    transition: all 3s;
}
#outer.active{
    transform: translateY(-100vh);
}

#balon {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    cursor: pointer;
    transition: all 5s ease-in-out;
    animation: goyang 3s infinite ease-in-out;
}
#balon.active{
    bottom: 100vh;
}


@keyframes goyang {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

#content1 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    transition: all 3s ease-in-out; /* Animasi transisi */
}
#content1.active{
    transform: translateY(-50vh);
}
#content1 h3{
    margin: 0;
    color: var(--primary-color);
    font-family: "Tangerine";
    font-size: 48px;
    text-align: center;

    width: 100vw;
}

#content1 h5{
    font-family: "Dancing Script";
    font-weight: 300;
    font-size: 20px;
}
#content1 h4{
    font-family: "Dancing Script";
    font-weight: 300;
    font-size: 20px;
}

#Greetings {
    position: relative;
    background-color: rgb(255, 249, 249);
    
    width: 100%;
    height: auto;
}
#Greetings .header{
    font-family: 'Dancing script';
    font-size: 28px;
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
} 

#Greetings .content{
    display: flex;
    height: auto;
    align-items: center;
    padding: 10px;
    font-size: 11px;
    gap: 10px;
}
.decor{

    position: relative;

}
.content .decor .bunga_greeting{
    width: 100px;
    position: absolute;

    height: auto;
}
.bunga_greeting.satu{
    right:0;
    bottom: 0;
}   
.bunga_greeting.dua{
    left:-30px;
    top: -50px;
    transform: rotate(180deg);
}   

.content video{
    position: relative;
    width: 150px;
    height: 100%;
    transform: perspective(450px) translateZ(10px) rotateY(30deg);
    padding: 10px 10px 40px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 5px 3px rgba(0,0,0,0.5);

}
.gallery-container {
    position: relative;
    width: 100%;
    height: 100vh;

    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);

}
.bg_gallery{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.bg_gallery img{
    position: absolute;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    object-position: center;
    
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(254, 255, 209, 0.475);
}
.gallery-title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 32px;
    font-family: 'Dancing script';
}
.gallery {
    position: relative;
    width: 100%;

}
.photo {
    position: absolute;
    width: 120px;
    height: 140px;
    background: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
.photo .decor{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;

}
.photo.dua .decor img{
    position: relative;
    width: 175px;
    height: auto;
    top: 50px;
    z-index: 99;
}
.photo.empat .decor img{
    position: relative;
    width: 125px;
    height: auto;
    top: -120px;
    left: -55px;
    z-index: 99;
}
.photo > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.tape {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(-5deg);
    width: 50px;
    height: 15px;
    background: rgba(255,255,255,0.6);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.photo:nth-child(1) { top: 90px; left: 50px; transform: rotate(-10deg); }
.photo:nth-child(2) { top: 70px; left: 200px; transform: rotate(5deg); }
.photo:nth-child(3) { top: 190px; left: 120px; transform: rotate(-3deg); }
.photo:nth-child(4) { top: 290px; left: 50px; transform: rotate(7deg); }
.photo:nth-child(5) { top: 340px; left: 200px; transform: rotate(-7deg); }